@model SistemaInventario.Models.Product

@{
    ViewData["Title"] = "Detalles del Producto";
}

<h1>Detalles del Producto</h1>
<hr />

<dl class="row">
    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Name)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Name)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.PurchasePrice)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.PurchasePrice)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.SalePrice)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.SalePrice)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.RegistrationDate)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.RegistrationDate)
    </dd>

    <dt class="col-sm-3">
        @Html.DisplayNameFor(model => model.Quantity)
    </dt>
    <dd class="col-sm-9">
        @Html.DisplayFor(model => model.Quantity)
    </dd>

    <dt class="col-sm-3">
        Categoría
    </dt>
    <dd class="col-sm-9">
        @Model.Category?.Name
    </dd>
</dl>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ProductId" class="btn btn-primary">Editar</a>
    <a asp-action="Index" class="btn btn-secondary">Volver a la lista</a>
</div>
